<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vacantes</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

</head>
<body>
	<img th:src="@{/images/logo.png}" width="136" height="136" />

	<h1 class="text-primary">Lista de Vacantes</h1>
	<hr>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Logo</th>
				<th>Id</th>
				<th>Nombre</th>
				<th>Fecha de Publicación</th>
				<th>Salario Ofrecido</th>
				<th>Descripción</th>
				<th>Destacada</th>
				<th>Detalle</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vacant: ${data} ">
				<td><img th:src="@{/images/{img}(img=${vacant.image})}"
					width="25" height="25" /></td>
				<td th:text="${vacant.id}" />
				<td th:text="${vacant.name}" />
				<td th:text="${vacant.date}" />
				<td th:text="${vacant.salary}" />
				<td th:text="${vacant.description}" />
				<!--  
					<td th:text="${vacant.outstanding == 1}?'Si' : 'No'" />
				-->
				<td><span th:if="${vacant.outstanding == 1}"
					class="badge bg-success">Si</span> <span
					th:unless="${vacant.outstanding == 1}" class="badge bg-danger">No</span>
				</td>

				<td><a th:href="@{/vacancies/view/{id}(id=${vacant.id})}"
					class="btn btn-success">Detalle</a></td>

				<td><a th:href="@{/vacancies/delete(id=${vacant.id})}"
					class="btn btn-danger">Borrar</a></td>
			</tr>
		</tbody>
	</table>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>